{% extends '_layout.html' %}
{%block content%}

<div class='dashboard'>
	<div class='contentbox'>
	
		<h2>Welcome</h2>
		<p>Welcome to the SPS Zone 7 2013 Meeting.  Join your fellow physics students at Eastern Michigan University in Ypsilanti,
		MI 15 - 16 March 2013 as they connect to present outstanding research and
		hear from local and nationally recognized scholars and members of 
		physics and engineering industry.  </p>
		<br /><br /><br />

		<img class="center_block" src="{{STATIC_URL}}images/emichlogo.jpg
		" height="75px">

</div>



</div>

{%endblock%}