{% extends '_layout.html' %}
{%block content%}

<div class='dashboard'>
	<div class='largecontentbox'>
		<div class='container_12'>
			<div class='grid_6'>
				<h4>Eastern Michigan University</h4>
				<p>...is located in Ypsilanti, a few miles MI north of
					I-94. </p>

					The 2013 Zone 7 meeting will  take place 
					starting on Friday March 15 at 7:00 PM and conclude 
					around 3:00 PM on Saturday March 16.  Please take a look at the 
					<a href='{{STATIC_URL}}images/zone.pdf'>agenda</a>.</p>

					<p> The majority of the meeting will take place on Saturday, including 
					a student research poster session and several invited 
					talks.  Registration will take place at the <b class='dark'>EMU Rec/IM building</b> on Friday evening.   Activities that evening will include 
					tours/night sky viewing at the Sherzer Observatory, short shows at the 
					EMU planetarium, and various games at the EMU
					Rec/IM building.
				</p>

				<p>On Saturday, the main part of the meeting will take place at the <b class='dark'>Halle Library</b> on campus.  We will walk/meet there after breakfast and the meeting will begin at 9:00 AM.  After the morning session, lunch will be provided, and the meeting will close at approximately 3:00 PM.  Following the closing, there will be a <a href="/trebuchet/">trebuchet</a> launching contest at a nearby park for those that are interested in participating.<p>


				<p><b>Lodging</b><br />
					As part of the meeting, lodging has been
					arranged for Friday night at the EMU Rec/IM building.
					Mats will be provided to sleep on, but those that 
					choose to stay there will be required to bring
					their own bedding (don't forget a pillow!).  
					Please indicate if you would like to use the 
					Rec/IM building for your Friday night 
					sleeping arrangements on the registration form.
				</p>

				<p><b>Costs</b><br />
					Registration costs for the meeting are as follows:
					<ul>
						<li>$10: Participants who will not utilize EMU provided housing</li>
						<li>$15: Participants who will use EMU provided housing</li>
					</ul>
					Dinner on the 15<sup>th</sup> and breakfast and lunch 
					on the 16<sup>th</sup> are included in the fees and will be provided.  Please plan on providing payment when you check in at the meeting.
				</p>
				<p><b>Student Poster Competition</b><br />
					Posters will be judged by a group of physics
					faculty members and awards will be handed out 
					at the meeting's closing.  Please 
					indicate if you would like to participate in 
					the poster contest on your registration form.
				</p>

				<p><b>Parking</b><br />
					Friday night: The gates to the EMU student center lot go up at 6:00PM.
					After that, you can park there for the night.</p>

				<p>Saturday: All parking spaces are fair game (except spots marked reserved or metered spots).  We suggest you park in the Oakwood Commuter Lot (Oakwood and Washtenaw Ave) as it is closest to the Library entrance.</p>

				</p>

				
				
			</div>
			<div class='grid_6'>
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=216830166315208541865.0004d4bd27e7e0f592f4a&amp;ie=UTF8&amp;t=m&amp;ll=42.242498,-83.646641&amp;spn=0.044479,0.072956&amp;z=13&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=216830166315208541865.0004d4bd27e7e0f592f4a&amp;ie=UTF8&amp;t=m&amp;ll=42.242498,-83.646641&amp;spn=0.044479,0.072956&amp;z=13&amp;source=embed" target="_blank">EMU</a> in a larger map (Buildings are marked!)</small><br /><br />

<a href="http://www.emich.edu/maps/" target="_blank"><img src='{{STATIC_URL}}images/map.jpg' width="425"></a><br />
<small>View <a href="http://www.emich.edu/maps/" target="_blank">EMU's campus</a> in detail (Note: North is rightish!)</small>
			</div>
			<div class='clear'></div>
		</div>
	</div>
</div>

{%endblock%}

