{% extends '_layout.html' %}
{%block content%}

<div class='dashboard'>
  <div class='largecontentbox'>
    <div class='container_12'>
      <div class='grid_5'>
         <h3>Rules/Restrictions</h3>
          <p>Following the Zone 7 meeting, we will relocate to a
            site a few minutes away from campus to have a trebuchet launching contest.  We hope that many teams will participate! Below are the rules and regulations that have been set to ensure a fun and safe contest.
          </p>
          <p><b> If you would like to participate, please email 
            <a href="mailto:jhodge10@emich.edu">Justin Hodges</a> directly.</b>
          </p>
        </div>
        <div class='grid_7'>
          <div class='trebuchet'>

          </div>
            
         </div>
         <div class='clear'></div>
        <div class='grid_6'>
         
          <p class='bold'>Budget</p>
          <ul>
            <li>The money put toward a trebuchet must amount to less than $100.00.</li>
            <li>Donations count toward the $100 limit.</li>
            <li>To verify this constraint has been observed, teams must submit their budget sheet. </li>
          </ul>

          <p class='bold'>Teams</p>
          <ul>
            <li>A team may consist of any number of members!</li>
            <li>Multiple teams from the same chapter may enter.</li>
            <li>Participating students may only be in one team.</li>
            <li>Members must be current students.</li>
            <li>No faculty members may participate in design or construction of the trebuchet (They can advise but not design).</li>
          </ul>

          <p class='bold'>Projectiles</p>
          <ul>
            <li>The trebuchets will be designed to launch cantaloupes (13-16 cm Dia).</li>
          </ul>

          <p class='bold'>  Structure Guidelines</p>
          <ul>
          
            <li>The trebuchet must not be taller than 2*Pi meters.</li>
            <li>The base width must be less than Pi<sup>2</sup>/6 meters.</li>
          </ul>

        </div>
        <div class='grid_6'>



          <p class='bold'>Release Mechanism</p>
          <ul>
            <li>The person firing their team's trebuchet must be able to do so from a safe distance for release of about 3 meters.</li>
            <li>Safe loading procedure must be observed.</li>
            <li>The trebuchet must be at a stable static equilibrium without any additional constructs. (It may not require any additional mechanisms to hold it down, etc)</li>
          </ul>

          <p class='bold'>Launch Considerations</p>
          <ul>
            <li>The trebuchet must be able to launch a projectile
              safely prior to the competition!</li>
          </ul>

          <p class='bold'>Counterweight</p>
          <ul> 
            <li>The trebuchet's counterweight must be securely attached to it.</li>
            <li>The counterweight must be less than 250 lbs.</li>
            <li>The trebuchet must be free standing.</li>
          </ul>

          <p class='bold'>Day of launch</p>
          <ul>
            <li>Teams will be given one hour to set up their trebuchets.</li>
            <li>Bring your own tools if your trebuchet requires final assembly.</li>
            <li>Email <a href="mailto:jhodge10@emich.edu">Justin Hodges</a> if you need any specific tools or power requirements that you are unable to bring.</li>
          </ul>

         
        </div>
        <div class='clear'></div>
    </div>
  </div>
</div>
{%endblock%}
